body {
  background: #e89c78;
}
.heads {
  height: 5.138888888888889rem;
}
.heads img {
  width: 100%;
  height: 100%;
}
main .new-box:nth-child(1) .up {
  background: #fff url('../img/hot/1.png') no-repeat top right / 0.6018518518518519rem;
}
main .new-box:nth-child(2) .up {
  background: #fff url('../img/hot/2.png') no-repeat top right / 0.6018518518518519rem;
}
main .new-box:nth-child(3) .up {
  background: #fff url('../img/hot/3.png') no-repeat top right / 0.6018518518518519rem;
}
main {
  margin-top: 2vw;
}
footer {
  color: #90492b;
  font-size: 0.3333333333333333rem;
  text-align: center;
  padding: 0.37037037037037035rem 0 0.5555555555555556rem;
}
.new-box {
  height: 27.777777777777775vw;
  background: #fff;
  font-size: 4.0740740740740735vw;
  color: #222222;
  margin: 0 auto 0.37037037037037035rem;
  width: 93%;
}
.new-box .left {
  height: 100%;
  width: 27.777777777777775vw;
  float: left;
}
.new-box .left img {
  height: 100%;
  width: 100%;
}
.new-box .right {
  height: 27.777777777777775vw;
  overflow: hidden;
  padding: 0 3.7037037037037033vw 0 4.166666666666666vw;
}
.new-box .right .up {
  padding-top: 2.7777777777777777vw;
  position: relative;
  padding-bottom: 1.5vw;
}
.new-box .right .up .tit {
  margin: 0 !important;
  height: 6.481481481481481vw;
  line-height: 6.481481481481481vw;
  display: flex;/* background: url("http://uat.m.caimiing.com/web/css/../img/hot/index_2/task1.png") no-repeat right / 9.2vw; */
}
.new-box .right .up .tit .red {
  color: #f17e50;
  font-size: 4.259259259259259vw;
}
.new-box .right .up .tit .red .del {
  font-size: 2.962962962962963vw;
  color: #FFB090;
  position: relative;
  top: -0.8vw;
  margin-left: 1vw;
  text-decoration: line-through;
}
.index-down {
  width: 92.59259259259258vw;
  margin: auto;
  display: block;
  margin-top: 3.7vw;
}
.new-box .right .up .p-text {
  margin: 0;
  height: 6.481481481481481vw;
  line-height: 6.481481481481481vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 1vw;
}
.new-box .right .down {
  height: 9.722222222222221vw;
}
.new-box .right .down > nav {
  height: 100%;
}
.new-box .right .down .left2 {
  float: left;
  font-size: 0.3148148148148148rem;
  color: #666666;
  display: flex;
  align-items: center;
}
.new-box .right .down .left2 img {
  width: 4.166666666666666vw;
  margin-right: 1vw;
}
.new-box .right .down .right2 {
  float: right;
  width: 27.777777777777775vw;
  color: #f17e50;
}
.new-box .right .down .right2 dl {
  margin: 0;
  position: relative;
  height: 100%;
}
.new-box .right .down .right2 .small {
  font-size: 1.8518518518518516vw;
  position: absolute;
  right: 3.5vw;
  top: 1vw;
}
.new-box .right .down .right2 .big {
  font-size: 5.925925925925926vw;
  text-align: right;
  /*   position: absolute;
  bottom: -0.5vw; */
  right: 0;
  height: 100%;
  line-height: 10.5vw;
}
.new-box .right .down .right2 .big span {
  font-size: 0.3333333333333333rem;
  position: relative;
  top: -1px;
  margin: 0 2px;
}
.tit .commsum {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 28vw;
  font-weight: bold;
  margin-right: 1vw;
}
.tit .commsum {
  font-size: 4.0740740740740735vw !important;
  color: #222;
}
/*# sourceMappingURL=hotRank.css.map */
